'clasele sunt la general, obiectele sunt proprietati valorizate
'UCdiag ma ajuta sa stabilesc propr si funct in CDiag
'mostenire- creez o clasa de baza si migrez chestii comune si trag relatia de la derivate la clasa de baza fara sa mai scriu in cele de baza chestiile comune

//scrie proprietatile si functionalitatile claselor aici
//implementeaza ideea de "Welcome 'user'"

Utilizatorul deschide browserul.
Utilizatorul va introduce link-ul aplicatiei in bara de adrese a brwoser-ului si va apasa enter.

Dupa ce utilizatorul apasa tasta "enter", se va afisa Landing Page care va contine un mesaj "Welcome to CarHub!" si un div central impartit in 2,
in partea stanga va fi formularul de autentificare iar in dreapta formularul de inregistrare. Pe partea de formular de autentificare se va afisa deasupra formularului, dar in div,
mesajul "Ai cont?Autentifica-te" iar pe partea de formular de inregistrare se va afisa deasupra formularului, dar in div, mesajul "Nu ai cont?Creaza unul".
Formularul de autentificare contine un email_textbox , password_textbox, checkbutton cu textul "Tine-ma minte" , butonul "Autentificare" si un buton "Am uitat parola".
Formularul de inregistrare contine email_textbox(required si limita de caractere de 16), password_textbox(required si limita de caractere 16), confirm_password_textbox
(required si limita de caractere 16) si butonul "Inregistrare".La introducerea fiecarui caracter in aceste campuri, se va incrementa numarul de caractere introduse. Daca numarul
caracterelor introduse ajunge la numarul limitei de caractere, campul nu va mai lasa utilizatorul sa introduca alte caractere. De asemenea daca utilizatorul incearca sa apese
pe butonul de inregistrare sau autentificare fara sa introduca datele in campuri, se va afisa un pop-up din campul respectiv cu mesajul "Required"

Daca utilizatorul nu are cont creat, utilizatorul va completa campurile din formularul de inregistrare si va apasa butonul de "Inregistrare". Dupa apasarea butonului "Inregistrare",
se va verifica email-ul pentru duplicate. Daca exista duplicat, se afiseaza mesaj "Email existent" si inregistrarea esueaza. Daca nu exista duplicat, email-ul si parola se vor salva
in baza de date a conturilor si se va afisa Landing Page-ul pentru completarea campurilor din cadrul formularului de autentificare.

Pentru ca formularul sa tina minte email ul si parola utilizatorului(pentru a nu fi nevoit utilizatorul sa introduca email-ul si parola la fiecare accesare a site-ului),se vor
completa campul email si campul parola si se va bifa checkbutton-ul "Tine-ma minte" inainte de apasarea butonului "Autentificare".
Daca utilizatorul apasa pe butonul "Am uitat parola" , se va deschide o pagina cu un textbox pentru email-ul utilizatorului si un buton de "Urmatorul".
La completarea textbox-ului cu email-ul si apasarea butonului "Urmatorul" , va aparea un alt textbox pentru noua parola si confirmarea parolei si un buton cu textul "Schimba parola".
La completarea acestor textbox-uri si apasarea butonului "Schimba parola", se va trimite un request la baza de date de inlocuire a parolei vechi stocate cu cea noua si se va afisa
popup-ul "Parola schimbata cu succes" pentru 5 secunde si apoi va disparea, urmand ca pagina sa trimita utilizatorul inapoi pe Landing Page.

Dupa ce utilizatorul va apasa pe butonul "Autentificare", se va trimite un request catre baza de date cu informatia din campurile respective pentru a vedea
corectitudinea lor.
Daca email sau parola sunt gresite sau daca nu se vor completa campurile,pagina va afisa un pop up cu mesajul "Email sau parola gresite" si un buton de
"Reincearca".Dupa apasarea butonului "Reincearca", fereastra pop up se va inchide si va permite utilizatorului sa editeze campurile text.

Daca datele sunt corecte, se va afisa Home Page care contine in partea stanga un NavBar si in centru, Home Page va afisa cate un div care
contine o poza si o scurta descriere a unei stiri din domeniul auto, iar la apasarea oricarui div, se va deschide o alta pagina care contine toata informatia despre acea stire.
Navbar-ul contine 3 butoane: 1)Profil Utilizator, 2)Comparare, 3)Forum.
Aceste stiri vor fi adaugate de un admin in sectiunea din mijlocul Home Page-ului.
Daca utilizatorul se afla in partea de top sau mid a Home Page-ului si da scroll-down, se vor incarca stirile mai vechi.
Daca utilizatorul se afla in partea de bottom sau mid a Home Page-ului si da scroll-up, se vor incarca stirile actuale.

1)Profil utilizator:
Cand utilizatorul face click pe acest link, se va afisa o pagina care contine acelasi NavBar in partea stanga iar pe mijloc va fi afisata sectiunea detalilor contului
unde se va afla poza de profil a utilizatorului impreuna cu numele acestuia langa ea, sub se vor afisa informatiile masinii, cum ar fi: brand-ul masinii, modelul,
anul fabricatiei, motorizarea, o mica descriere, buton pentru editare profil si un buton pentru setarile aplicatiei.
Cand utilizatorul va apasa butonul de editare profil, pagina va permite utilizatorului sa editeze campul de nume si campul de informatii ale masinii si se va afisa
un buton de salvare a modificarilor facute. La apasarea butonului de salvare a modificarilor, se va actualiza baza de date cu informatiile modificate si pagina va iesi din modul
de editare.
Cand utilizatorul va apasa butonul de setari ale aplcatiei, se va deschide o pagina care contine un buton pentru schimbarea temei paginii(light sau dark) si un buton
pentru stergerea contului.
Cand utilizatorul va apasa pe butonul de schimbare a temei paginii, se va afisa o pagina cu 3 variante de alegere: automat(prestabilit), light sau dark.
La alegerea temei light, aplicatia va avea drept culoare principala alb, iar la alegerea temei dark, culoarea principala in aplicatie va fi un gri graphite.
La apasarea de catre utilizator a butonului de stergere a contului, se va afisa o fereastra cu un buton de confirmare.
La apasarea butonului de confirmare a stergerii contului, se va afisa Landing Page si se va trimite un request catre baza de date pentru stergerea
email-ului si parolei din evidenta.

2)Comparare masini:
Cand utilizatorul face click pe acest link, se va afisa o pagina care contine acelasi NavBar in partea stanga iar pe mijloc va fi afisat un div impartit
in 2 parti: prima parte pentru alegerea primei masini , a 2 a parte pentru alegerea masinii 2 si un buton de start comparare. Fiecare parte va afisa: un
dropdown-list pentru alegerea marcii masinii, unul pentru model, unul pentru tipul caroseriei si unul pentru motorizarea masinii. Toate aceste informatii
din dropdown-uri se vor extrage dintr-o baza de date unde sunt introduse de admin. La apasarea fiecarui dropdown, se va afisa o lista aferenta fiecarui tip de informatie.
La apasarea butonului de comparare masini, se va afisa sub tabele o poza pentru fiecare masina, sub poze se vor afisa brand-ul si marca masinilor, iar sub acestea se vor
afisa informatiile legate de anul productiei, informatii legate de dimensiuni, informatii ale motoarelor, clasa masinilor si siguranta in caz de impact si niste stelute
care vor semnifica rating-ul masinii oferit de proprietarii unor astfel de masini.

3)Forum:
Facand click pe acest link, se va afisa o pagina care contine acelasi NavBar in partea stanga iar pe mijloc vor fi afisate mai multe cadrane cu diferite
subiecte de discutie recente, un searchbar pentru a cauta subiecte in functie de cuvintele cheie scrise si un buton in coltul din dreapta jos al paginii pentru a scrie un topic.
Subiectele de discutie vor fi niste cadrane care afiseaza titlul subiectului si autorul postarii, iar aceste cadrane se vor afla una sub alta, pe latimea div-ului central.
La accesarea unui subiect, se va deschide fereastra dedicata acelei discutii, cu textul integral, data postarii, replicile oferite de ceilalti utilizatori si un textbox pentru
a scrie o replica la o postare, alaturi de un buton de trimite. La completarea textbox-ului si apasarea butonului trimite, se va posta ca replica raspunsul tau, sub ultima replica
cea mai recenta.
La apasarea searchbar-ului, utilizatorului ii este permisa scrierea. Cand utilizatorul va apasa enter la searchbar, se va executa algoritmul de cautare pe
baza cuvintelor si se vor afisa subiectele care au o potrivire de cuvinte.
La apasarea butonului din dreapta jos al paginii, se va deschide o fereastra de redactare a unui subiect de discutie cu urmatoarele continute: textbox pentru a scrie titlul
postarii, textbox pentru a scrie detaliat despre ceea ce vrei sa discuti si un buton de incarca postare. Textbox-urile trebuie sa fie completate pentru a putea incarca.
La completarea textbox-urilor si apasarea butonului incarca, informatiile vor fi trimise la verificat la admin pentru a nu fi scrise doar caractere aleatorii. Daca ceea ce a fost
scris este in regula, subiectele de discutie se vor afisa in pagina "Forum" iar daca nu sunt in regula, admin va sterge informatia.